*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --fs-h1: 2.25rem;
  --fs-h2: 0.85rem;
  --fs-h3: 0.75rem;
  --fs-heading: 1rem;
  --fs-nav: 1rem;
  --fs-body: 0.75rem;

  --ff-primary:'Inter', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --clr-white: white;
  --clr-black: #272222;
  --clr-grayStrong: #736C6C;
  --clr-grayLight: #C4C4C4;
  --clr-accent: #8F00FF;
}
/* html{
  scroll-behavior: smooth;
} */
body{
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-black);
}
img{
  width: 100%;
}
section {
  min-height: 100vh;
  padding: 1rem;
}

/* NAV BAR  */

.logo{
  width:75px;
  height: 30px;
  z-index: 100;
}
.nav{
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.nav__list{
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
}
.iconify {
  height: 36px;
  width: 36px;
  color: var(--clr-grayStrong);
}
.nav__button{
  margin-right: 0.5em;
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.nav__link{
  cursor: pointer;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-grayStrong);
  font-size: var(--fs-nav);
  padding: 0.5rem 1rem ;
}
.nav__link:hover{
  border: 1px solid var(--clr-grayLight);
  color:var(--clr-accent);
  margin: -1px;
}

@media (max-width: 800px){
.nav__list{
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    /* Hide nav links */
    transform: translateY(-150%);
    /* end */
    transition: all .90s ease;
    background-color: white;
    opacity: .98;
    z-index: 100;
  }
.nav__open{
  /* show links */
  transform: translateY(0);
  
}
}
/* HERO SECTION */
.hero__section{
  min-height: 100vh;
}
.hero__intro{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__h1{
  padding: 1rem 1rem 0 1rem;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  
  
}
.span{
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-grayLight);
  
}
.span__dark{
  color: var(--clr-black);
}
.span__bottom{
display: flex;
   /* position: absolute; */
  left: 0;
 
  bottom:0;
  padding-top: 5rem;
  padding-right: 1rem;
  
  
  align-items: flex-end;
  justify-content: flex-end;
  
}
.hero__h2{
  padding: 1rem 1rem 0 1rem;
  font-size: var(--fs-h2);
  letter-spacing: 3.5px;
  line-height: 17px;
  
}
.span__name{
  font-weight: var(--fw-regular);
  padding-left: 1.2rem;
  /* padding-bottom: 1rem; */
  
}
.span__space{
padding-bottom: 0.25rem;
}
.job__title{
  padding: 0.25rem 0;
}
.block__container{
  position: relative;
 height: 250px;
  /* width: 100%;
  height: 100%; */
  
}
.circle__container{
  position: absolute;
  top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.circle__img{
 
  width: 190px;
  height: 190px;
  animation: rotation 90s infinite linear;
}
.hero__img{
  width: 190px;
  height: 45px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  left: 10px;
}
.hero__img2{
  top: 70px;
  left: 25px;
  opacity: .90;
  animation: scale 15s ease-in-out infinite;
}
.hero__img3{
  top: 130px;
  left: 30px;
  animation: slide 15s ease-in-out infinite;
}

.line{

position: absolute;
width: 300px;
height: 1px;
left: -30%;
top: 50%;
background-color: var(--clr-grayLight);
transform: rotate(-44.39deg);
z-index: -1;
overflow: hidden;
}

.triangle{
  position: absolute;
  width:60px;
  height:60px;
  left: -5%;
  top: 50%;
  
}
.btn{
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border: 1px solid var(--clr-grayLight);
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  color: var(--clr-accent);
  text-decoration: none;
  transition: 0.5s ease-in;
  background-color: white;
}
.btn:hover{
  transform: scale(1.1);
}
.dot__nav{
  display: none;
}

/* SECTIONS HEADING */

.sections__heading{
  font-family: var(--ff-secondary);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  position: relative;
  width: max-content;
  color: var(--clr-black);
}
.sections__heading::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 90%;
  background-color: var(--clr-grayLight);
}
.section__subHeading{
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  color: var(--clr-grayStrong);
  /* font-weight: var(--fw-bold); */
  padding-top:1rem ;
  letter-spacing: 1px;
}
.sections__span{
  
  padding-left: 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 4px;
  color: var(--clr-accent);
}
/* MY WORK SECTION */
.work__section{
  position: relative;
  background: url(../src/Images/myWork.svg);
  background-repeat: repeat-x;
}
.project__background{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: url(../src/Images/myWork.svg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: right;
}
.project__container{
  display: flex;
  align-items: center;
  gap : 2rem;
  position: relative;
  
  width: fit-content;
  /* margin-bottom: 2rem; */
  /* height: 45px;
  width: 195px; */
  transition: 0.5s ease-in;
  z-index: 2;
}
.project__img{
  cursor: pointer;
  /* padding-top: 2rem; */
  height: 45px;
  width: 195px;
  object-fit: cover;
  
}
.project__overlay{
  position: relative;
  display: none;
  pointer-events: none;
 font-size: var(--fs-h3);
 font-weight: var(--fw-bold);
 font-family: var(--ff-secondary);
 opacity: 0;
 
}
.project__overlay::before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 200px solid var(--clr-grayLight);
  border-bottom: 100px solid transparent;
  opacity: 0.1;
  z-index: -1; 
}


.project__container:hover {
 transform: scale(1.05);
}
.project__container:hover:after {
  background-color: #8F00FF;
  border: none;
  /* z-index: 1; */
  
 }
 .project__container:hover > .project__overlay {
  opacity:1;
 }

.project__container::after{
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--clr-grayLight);
  /* border: 1px solid var(--clr-grayLight); */
  left: -1%;
  bottom: -6%;
  transition: 0.5s ease-in;
  /* z-index: -1; */
}

.modal{
  background-color: white;
  /* position: absolute; */
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.modal__open{
  visibility: visible;
  pointer-events: all;
  z-index: 2000;
  opacity: 1;
  padding: 1rem;
 
}

.modal__title{
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
}
.span__modal-buttonContainer{
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.modal__icon{
  
  cursor: pointer;
  color: var(--clr-accent);
  /* justify-self: flex-end; */
  
  margin-left: auto;
  animation: bounce 5s ease-in-out infinite;
}
/* .modal__icon:hover{
  transform: scale(1.1);
 
} */

.modal__p{
  font-size: var(--fs-body);
  letter-spacing: 0.010em;
  line-height: 20px;
  padding-top: 1.5rem;
  /* z-index: 1000; */
}
.modal__p-top {
  padding-top: 4rem;
}

.span__modal{
  padding-left: 5rem;
}
.section__number-container{
  position: relative;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.section__number{
  font-size: 200px;
  /* letter-spacing: 0.5rem; */
  text-align: center;
  color: var(--clr-grayLight);
  opacity: 0.13;
 
}

/* SLIDER IN MODAL  */

/* .slider__container{
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.slider__img{
  height: 150px;
  object-fit: cover;
}
.sliderButtons__container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.slider__arrow{
  cursor: pointer;
}
.slider__arrow.left{
  margin-right: auto;
  color: var(--clr-grayLight);
}
.slider__arrow.right{
  margin-left: auto;
  color: var(--clr-grayLight);
}
.slider__arrow:hover{
  transform: scale(1.1);
}
.slide{
  
  opacity: 0.25;
  /* transition: opacity  0.5s ease-in; */
}
.slide__active{
  padding:  1rem 0;
  /* width: 100%; */
  transition: opacity 0.9s ease-in;
  
  /* opacity: 1; */
}
/* ABOUT SECTION */
.about__section{
  position: relative;
}
.about__container{
  margin-top: 4rem;
}
.about__txt{
  padding: 1rem 0;
  line-height: 25px;
}

.span__about-bottom{
  display: flex;
  justify-content: flex-end;
}

.about__img{
  padding-bottom: 2rem;
  max-height: 350px;
  max-width: 350px;
  object-fit: cover;
}
.about__animation-container{
  width: 100%;
  background: url(../src/Images/code.svg);
  background-repeat: no-repeat;
  
  

}
.about__animation{
 
  margin: 0 auto;
  margin-top:2rem ;
  margin-bottom: 2rem;
  position: relative;
  /* display: flex;
  flex-direction: column; */
  width: 200px;
  height: 200px;
  z-index: 2;
  
}
.about__overlay{
  height: 45px;
  width: 195px;
  
  background-color: #272222;
  z-index: 100;
}
.about__overlay-active{
  display: none;
}
.about__rectangle1{
  height: 45px;
  width: 195px;
  background-image: url(.//Images/marcin.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 auto;
  margin-bottom: 1rem;
}
.about__rectangle2{
  height: 45px;
  width: 195px;
  background-image: url(.//Images/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 auto;
  margin-bottom: 1rem;
}
.html__icon{
  position: absolute;
  top:-10%;
  left: 50%;
  transform: translate(-50% , 10%);
  color: var(--clr-grayLight);
  cursor: pointer;
  z-index: 2;
}
.html__icon-active{
  color: var(--clr-accent);
}
.css__icon{
  position: absolute;
  bottom:-10%;
  left: 50%;
  transform: translate(-50% , 0%);
  color: var(--clr-grayLight);
  cursor: pointer;
  z-index: 2;
}
.css__icon-active{
color: var(--clr-accent);
}
.react__icon{
  position: absolute;
  top:50%;
  left: -8%;
  transform: translate(8% , -50%);
  color: var(--clr-grayLight);
  cursor: pointer;
  animation: rotation 10s infinite linear;
  z-index: 2;
}
.react__icon-active{
  color: var(--clr-accent);
}
.inner__circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--clr-accent);
}
.circle__about{
position: absolute;
/* display: none; */
width: 190px;
height: 190px;
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 1;
background-color: white;
}
.circle__about-active{
  display: none;
}
.about__animation::after{
  content: "";
  display: block;
  position: absolute;
 border: 1px solid var(--clr-grayLight);
 /* background-color: #272222; */
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  z-index: -1;
 
}
.puppet{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 120px;
  height: 120px;
}
/* CONTACT SECTION */


.form__container{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-top: 3rem;
}
.email__message{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  border: 1px solid var(--clr-grayLight);
  background-color: white;
  
}
.email__message-visible{
  display: block;
}
.email__alert-icon{
  display: block;
}
.email__alert-heading{
  padding: 0 2rem;
  font-size:var(--fs-h2) ;
  font-weight: var(--fw-bold);
  text-align: center;
}
.span__alert-top{
  padding-left: 1rem;
}
.span__alert-bottom{
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem ;
}
.email__alert-name{
  color: var(--clr-grayStrong);
  font-weight: var(--fw-regular);
}
.email__alert-message{
  text-align: center;
padding: 2rem;
line-height: 1.4;
}
.form__input{
  padding: 0 0.2rem;
  min-height: 25px;
  resize: none;
  border: 1px solid var(--clr-grayLight);
}
.form__input:focus{
  outline: 1px solid var(--clr-grayStrong);
}
.form__textarea{
  min-height: 100px;
  padding-bottom: 1rem;
}
.form__label{
  font-family: var(--ff-secondary);
  color: var(--clr-black);
  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);
  padding: 1.25rem 0 0.5rem 0;
}
.details__container{
  padding-top: 2rem;
}
.details__txt:nth-child(1){
  padding-bottom: 1rem;
}
.details__txt{
  padding-bottom: 0.3rem;
}
.socials__container{
  padding-top: 2rem;
  display: flex;
  gap: 0.5rem;
}
.contact__img{
  padding: 2rem 0;
  max-width: 500px;
  max-height: 500px;
}
.social__icon{
  transition: 0.25s ease-in;
}
.social__icon:hover{
  color: var(--clr-accent);
  transform: scale(1.1)
}
.footer{
  min-height: 20vh;
  background-color: black;
 
  width: 100%; 
  /* padding-right: 0; */
    background-image: url(../src/Images/footer.svg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    padding: 6rem 0 0rem 0rem;
    background-position: top;
    
}
.footer__background{
  position: relative;
  min-height: 250px;
  padding: 2rem;
  background-color: white;
  
}
.footer__background::after{
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 10px;
  top: 50%;
  right: 0;
  transform: translate(-0%,-50%);
  background-color: black;
}
.pixel{
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
}
.pixel1{
  top: 0;
  right: 0;
}
.pixel2{
  top: 40px;
  right: 0;
}
.pixel3{
  top: 20px;
  right: 20px;
}
.pixel4{
  top: 0px;
  right: 50px;
  width: 80px;
  height: 80px;
  background-image: url(.//Images/footer.svg);
  background-position: bottom;
}
.footer__nav{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  gap: 2rem
}
.footer__nav-item {
  padding-bottom: 1.25rem;
}
.footer__info{
  padding-top: 4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__txt{
  padding-bottom: 0.25rem;
}
.footer__nav-title{
  padding-bottom: 1.5rem;
  font-size: var(--fs-h3);
  color: var(--clr-black);
  font-weight: var(--fw-bold);
}
.footer__nav-socials{
  
  display: flex;
  flex-direction: column;
}
.footer__nav-socials a {
  padding-bottom: 1.25rem;
  text-decoration: none;
  color: var(--clr-black);

}
.footer__nav-link{
  cursor: pointer;
  transition: 0.25s ease-in;
  
  
}
.footer__nav-link:hover{
  color: var(--clr-accent);
 
}
.footer__nav-link:hover::after{
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 8px;
  background-color: var(--clr-black);
}
/* MEDIA QUERIES */
@media (min-width: 360px){
  .project__img{
    height: 60px;
    width: 300px;
  }
  .section__number-container{
    justify-content: flex-end;
  }
}

@media (min-width: 400px) {
  section{
    padding: 2rem;
  }

  .modal__open{
    padding: 2rem;
  }
  .slider__img{
    height: 200px;
  }
}
@media (min-width: 600px) {
  :root{
    --fs-body: 0.85rem;
  }
  /* .project__background{
    background-position: right;
    background-size:contain;
  } */
 .about__txt-top{
   max-width: 500px;
 }
 .about__txt-bottom{
  max-width: 500px;
}
}

@media (min-width: 800px) {
  :root{
    --fs-h1: 3.25rem;
    --fs-h2: 1rem;
    --fs-h3: 1rem;
    --fs-nav: 1rem;
    --fs-heading:1.2rem;
    
  }
  section{
    padding: 0 4rem;
  }
  .contact__section{
    padding-bottom: 4rem;
  }
  .section__number-container{
    display: flex;
  }
  .nav{
    padding: 2rem 3rem;
  }
  /* .logo{
    cursor: pointer;
    position: fixed;
  } */
  /* DONT SHOW BUTTON ON SCREEN MORE THEN 800PX */
  .nav__button {
    display: none;
  }
  /*  SHOW DOT NAV MENU  */
  .dot__nav{
    display: block;
  }
  
  .block__container{
    padding-top:3rem ;
    height: 400px;
  }
  .circle__img{
    height: 300px;
    width: 300px;
  }
  .hero__img {
    width: 250px;
    height: 70px;
  }
  .hero__img2{
    top:115px;
  }
  .hero__img3{
    top:215px;
  }
  .line{
    width:580px;
    left: -50%;
  }
  .project__img{
    height: 80px;
    width: 360px;
  }
 
  .section__number{
    font-size: 350px;
  }
  .slider__img{
    height: 200px;
  }
  .modal{
    top: -1.5%;
  }
  .modal__open{
    position: absolute;
    width: 50%;
    padding: 4rem;
  } 
 .about__txt-top{
   margin-left: auto;
 }
 .about__overlay{
  height: 80px;
  width: 360px;
 }
 .about__rectangle1{
  height: 80px;
  width: 360px;
 }
 .about__rectangle2{
  height: 80px;
  width: 360px;
 }
  .contact__container{
    margin-top: 4rem;
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    gap: 2rem;
  }
  .contact__container-right{
    min-width: 350px;
    flex: 1;
  }
  .contact__container-left {
    flex: 1;
  }
  .footer__background{
    padding: 4rem 4rem 2rem 4rem;
  }
  .pixel4{
    right: 350px;
    width: 150px;
    height: 150px
  }
  .footer__info{
    padding-top: 8rem;
  }
  /* .form__container{
    min-width: 350px;
  } */
}
@media (min-width: 1300px) {
  :root{
    --fs-h2: 1.2rem;
    --fs-h3: 1.05rem;
    --fs-nav: 1rem;
    --fs-heading:1.5rem;
    --fs-body: 1rem;
  }
  section{
    padding: 0 6rem;
  }
 .nav__list{
   gap:3.5rem;
 } 

.hero__container{
  padding: 8.5rem 0 0 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10rem;
}
.block__container{
  width: 50%;
}
.hero__intro{
  padding-top: 0;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.hero__h1{
  padding:0;
}
.hero__h2{
  padding: 3rem 0;
}
.btn{
  margin:0;
  width: 170px;
  height: 50px;
}
.btn__form{
  margin: 0 auto;
  margin-top: 2rem;
}
.circle__img{
  height: 500px;
  width: 500px;
}

.hero__img {
  width: 450px;
  height: 100px;
  top:40px;
  left:25px;
}
.hero__img2{
  top:200px;
  left:75px;
}
.hero__img3{
  top:365px;
  left:30px;
}
.line{
  width: 850px;
}
.job__title{
  padding: 0.5rem 0;
  line-height: 1.2;
}
.span__space{
  padding-bottom: 1rem;
  }
.hero__section{
  position: relative;
}  
.span__bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 2rem 8rem 0;
}  
.project__overlay{
  display: block;
}
  .project__img{
    height: 100px;
    width: 465px;
  }
  /* .slider__img{
    height: 400px;
  } */
.modal{
  top: -2%;
}
  .modal__open{
    padding: 4rem 6rem;
  }
  .about__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .about__txt-top{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .about__txt-bottom{
grid-column: 1/2;
grid-row: 3/4;
  }
  .about__img{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .about__animation-container{
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .about__overlay{
    width: 450px;
    height: 100px;
  }
  .about__rectangle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    gap: 2rem;
  }
  .about__rectangle1 ,.about__rectangle2 {
    width: 450px;
    height: 100px;
  }
  .about__animation{
    width: 400px;
    height: 400px;
  }
  .about__animation::after{
    width: 400px;
    height: 400px;
    background-size: cover;
  }
  .circle__about{
    width: 390px;
    height: 390px;
  }
  .html__icon{
    width: 70px;
    height: 70px;
  }
  .css__icon{
    width: 70px;
    height: 70px;
  }
  .react__icon{
    width: 70px;
    height: 70px;
  }
  .about__txt{
    line-height: 30px;
  
  }
  .footer__nav{
    flex-direction: row;
    
    align-items: center;
    gap: 6rem
  }  
.socials__container{
  gap: 1rem;
}
.form__input{
  min-height: 35px;
}
.form__textarea{
  min-height: 200px;
}
.footer__background{
  padding: 4rem 6rem 2rem 6rem;
}

.footer__txt{
  padding-bottom: 0.5rem;
}
.pixel4{
  right: 500px;
  width: 200px;
  height: 200px
}
}
 @media (min-width: 1600px) {
  :root{
    --fs-h1: 4.25rem;
    --fs-nav:1.1rem;
    
    }
    section{
      padding: 0 8rem;
    }
    .hero__container{
    padding: 8.5rem 0 0 8rem;
  }
  .span__space{
    padding-bottom: 1rem;
  }
  .circle__container{
    left: 60%;
  }
  .modal{
    top: 7.5%;
  }
  .modal__container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
  }
  .modal__content-container{
   
    grid-row: 2/3; 
    grid-column: 1/3;
  }
  .modal__title-container {
    grid-row: 1/2; 
    grid-column: 3/4;
    padding-left: 2rem;
  }
  .slider__container{
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .slide__active{
    padding-top: 0;
  }
  /* .slider__img{
    height: 300px;
  } */
  .footer__background{
    padding: 4rem 8rem 2rem 8rem;
  }
  .footer__info{
    padding-top: 10rem;
  }
 }
 @media (min-width: 1800px) {

  .pixel4{
    right: 700px;
    width: 200px;
    height: 200px
  }

 }
@media (min-width: 1900px) {
  :root{
    --fs-h1: 5.25rem;
  }
  .footer__info{
    padding-top: 12rem;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes scale{
  0% {
      transform: scale(1.0);}
      
  50% {
      transform: scale(1.1);
      
  }
  100% {
    transform: scale(1.0);
    
}
}

@keyframes slide{
  0% {
    transform: translateX(0)}
      
  50% {
    transform: translateX(-40px);
      
  }
  100% {
    transform: translateX(0);
    
}
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}